# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/miniprogram_npm
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/project.config.json


project.config.json
miniprogram_npm
node_modules